.burgerItem{
  position: fixed;
  top:78px;
  left: 0px; 
  width: 100%;
  height: 100%;
  z-index: 30;
  background-color:black;
  color:#ffffff;
  opacity: 0.7;
  padding: 20px 0px 0px 0px;

  transform: translateX( -100%);
  transition: all 1s;
    .burgerMenu{
        display: flex;
        font-size: 24px;
        padding: 15px;
        &:hover{
          
            background-color:rgb(12, 10, 10);
        }
    }
}

.burgerItem.active{
    transform: translateX(0%);  
}

