.burgerItem{
  position: fixed;
  top:10%;
  left: 0px; 
  width: 100%;
  height: 100%;
  z-index: 30;
  background-color:black;
  color:#ffffff;
  opacity: 0.7;
  padding: 20px 0px 0px 0px;
overflow: auto;
  transform: translateX( -100%);
  transition: all 1s;
    .burgerMenu{
        display: flex;
        font-size: 24px;
        padding: 15px;
        &:hover{
          
            background-color:rgb(12, 10, 10);
        }
    }
}

.burgerItem.active{
    transform: translateX(0%);  
}
@media all and (min-width: 997px){
    .burgerItem.active{
        transform: translateX(-100%);  
    }
}
@media all and (max-width: 550px){
    .burgerItem{
        top:14%;
       
    }  
}