.swiper {

     .swiper-button-prev,
     .swiper-button-next {

         border-radius: 50%;
         width: 40px;
         height: 40px;
     }

     .swiper-button-prev {
         left: 5%;
     }

     .swiper-button-next {
         right: 5%;
     }
 }


 .tipeItem {
     display: flex;
     flex-wrap: nowrap;
     flex-direction: column;
    //  justify-content: center;
     align-items: center;
     row-gap: 16px;
     max-height: 560px;

     .sliderButtons {
         display: flex;
         flex-wrap: wrap;
         flex-direction: row;
         column-gap: 14px;

         .sliderButton {
             border: 0;
             padding: 0;
             width: 40px;
             height: 40px;
             background-image: url(../img/arrow.svg);
             cursor: pointer;
         }

         .upButton {
             transform: rotate(90deg);
         }

         .downDutton {
             transform: rotate(-90deg);
         }
     }
 }

 .sliderBlocItem {
     display: flex;
     width: 387px;
     height: max-content;
 }

 .sliderBlocTipe {
    width: 94px;
    
      .swiper-wrapper {
        display: flex;
    
        .swiper-slide {
          width: 85px !important;
          height: 114px !important;
          opacity: 0.4;
        
          &.swiper-slide-visible {
           
            cursor: pointer;
          }

          &.swiper-slide-thumb-active {
            opacity: 1;
            cursor: auto;
          }
        }
      }
 }

 @media all and (max-width: 830px){

    .sliderBlocTipe{
        .swiper-wrapper{
            width: 200px;
        }
    }
 }

 @media all and (max-width: 630px) {
    .sliderButtons{
        .sliderButton{
            display: none;
        }
       
    }
    .sliderBlocTipe {
        display: none;
        width: 100%;     
      }
      .tipeItem {
        width: 100%;
        flex-wrap: wrap;
      }
     
     .sliderBlocItem {    
         width: 100%;
         height: max-content;  
         .sliderImg{
             width: 100%;
         }  
     }
 }

 @media all and (min-width: 640px){
    .sliderBlocTipe{
        .swiper-wrapper{
            width: 200px;
        }
    }
 }

  