.shopingMain {
    flex: 1;
    overflow: auto;
  
   
    .items {
      padding: 0 24px;
    
      .noneCart {
        width: 150px;
        margin: 20px auto;
        display: block;
        color: #121212;
        text-align: center;
        font-size: 26px;
        line-height: 39px;
      }
      .item {
        padding: 12px 0;
        display: flex;
        justify-content: space-between;
        border-bottom: 2px solid #e6e6e6;
        img {
          margin-right: 20px;
        }
        .cart {
          color: #121212;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          flex: 1;

          .cartTop {
            .title {
              font-size: 14px;
              font-weight: 400;
              opacity: 0.6;
              line-height: 22px;
              margin-bottom: 5px;
            }
            .color,
            .size {
              font-size: 12px;
              font-weight: 600;
              line-height: 16px;
            }
            .color{
              font-size: 16px;
            }
          }
          .cartBot {
            display: flex;
            align-items: center;
            .counter {
              background-color: #f8f8f8;
              width: 81px;
              height: 32px;
              display: flex;
              justify-content: space-between;
              align-items: center;
              margin-right: 16px;
              span {
                font-size: 14px;
              }
              input {               
                width: 26px;
                height: 26px;
                font-size: 16px;                
                cursor: pointer;
              }
            }
            .price {
              font-size: 14px;
              font-weight: 700;
            }
          }
        }
        .trash {
          display: flex;
          align-items: flex-end;
          margin-bottom: 5px;
          
          img {
            cursor: pointer;
          }
        }
      }
    }
  }

