.container{
  .conteberFormReview {
    position:fixed;
    display:flex;
    align-items:center;
    justify-content:center;
    top:0px;
    left:0px;
    width:100vw;
    height:100vh;
    z-index: 50;
    .form {
      display: flex;
      flex-direction: column;
      font-family: Arial, Helvetica, sans-serif;
      padding: 24px;
      margin-top: 10px;
      margin-left: auto;
      margin-right: auto;
      min-width: 400px;
    
      border: solid 1px #030303;
      border-radius: 24px;
      background-color: #eeeeee;
    
      @media (max-width:450px) {
        min-width: 200px;
        width: 100%;
      }
  
      @media (max-width:200px) {
        min-width: 100px;
      }
  
      .heandel {
        font-size: 18px;
        font-weight: 800;
        margin-bottom: 10px;
      }
  
      .input {
        line-height: 1.5em;
        border-radius: 4px;
        border: solid 1px #eeeeee;
        padding: 4px 6px;
        display: block;
        width: 100%;
        box-sizing: border-box;
      }
  
      .error {    
        color: red;
        font-size: 13px;
        position: absolute;
        bottom: -20px;
        left: 5px;
      }
  
      .inputForm {
        width: 100%;
        margin-bottom: 30px;
        position: relative;
  
        input,
        textarea {
          width: 100%;
          padding: 15px;
          font-size: 16px;
          font-family: inherit;
          border: 1px solid #8b8b8b;
        }
  
        textarea {
          resize: none;
          min-height: 150px;
        }
  
        input:focus,
        textarea:focus {
          border: 1px solid #555453;
          outline: none;
        }
  
        .error {
          color: red;
          font-size: 13px;
          position: absolute;
          bottom: -20px;
          left: 5px;
        }
      }
  
      button {
        padding: 15px;
        background-color: black;
        color: #fff;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        position: relative;
        margin-bottom: 15px;
        cursor: pointer;
  
        &:disabled {
          background-color: #8b8b8b;
          cursor: auto;
        }
      }
      .raiting {
        position: relative;
        font-size: 35px;
        display: inline-block;
        margin-bottom: 15px;
       
        &::before {
          content: '★★★★★';
          display: block;
          color: #eeeeee;
        }
    
        .itemsReitings {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: row-reverse;
          overflow: hidden;
          .itemsReiting {
            position: absolute;      
            width: 0%;
            height: 0%;
            top: 0;
            left: 0;
            opacity: 0;
            visibility: hidden;
          }
          .simpleRaitingLabel {
            flex: 0 0 20%;
            height: 100%;
            cursor: pointer;
            color: #8f8989; 
            &:last-child {
              color: #f0cc84;
            }
            &::before {
              content: '★';
              display: block;
              transition: color 0.3s ease 0s;
            } 
            &:hover,
            &:hover~.simpleRaitingLabel,
            &:checked~.simpleRaitingLabel:hover {
              color: #f0cc84;
            }
          }       
          .itemsReiting:checked,
          .itemsReiting:checked~.simpleRaitingLabel {
            color: #f0cc84;
          }
        }
      }
    }
  }
  
}

.overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #12121248;
  z-index: 40;
}

