.headerPanelIcon {
    display: flex;
    column-gap: 24px;
  
    .headerPanelIconItem{
      display: flex;
      align-items: center;
      &:hover {
        transform: scale(1.2);      
      }
    }
  }
  
  @media all and (max-width: 470px) {
    .headerPanelIcon{
      column-gap: 4px;
      .headerPanelIconItem {
        .headerPanelIconItemImg {
          width: 80%;
      
        }
      }
    }  
}