.mainSpecialOfferBlock {
    margin-top: 96px;
    background: linear-gradient(180deg, #f3f2f2 0%, #dcdbdb 100%);
    display: flex;
    justify-content: center;
  
    .smallBlockWrapper {
      position: relative;
  
      .smallBlock {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #ffffff;
        border-radius: 4px;
        margin: 60px 0;
        padding: 80px 96px 96px;
  
        .title {
          font-weight: 600;
          line-height: 13px;
          letter-spacing: 0.06em;
          color: #a0a0a0;
        }
  
        .subtitle {
          margin-top: 16px;
          font-weight: 600;
          font-size: 26px;
          line-height: 36px;
          letter-spacing: 0.06em;
          max-width: 284px;
          text-align: center;
  
          .percent {
            color: #e91e63;
          }
        }
  
        .input {
          margin-top: 34px;
          width: 100%;
          background: #f8f8f8;
          border: none;
          min-height: 64px;
          display: flex;
          align-items: center;
          text-align: center;
          font-weight: 500;
          font-size: 16px;
          line-height: 18px;
          color: #9c9c9c;
          outline: 0;
  
          &::placeholder {
            font-weight: 500;
            font-size: 16px;
            line-height: 18px;
            color: #9c9c9c;
          }
        }
  
        .buttonDisebleTrue,.buttonDisebleFalse{
          margin-top: 15px;
          padding: 15px;
          background-color: black;
          color: #fff;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 18px;
          position: relative;
          margin-bottom: 15px;
          cursor: pointer;
        }
        .buttonDisebleTrue {        
          background: #121212;      
          &:hover {
            background: #E6E6E6;
            color:#121212;
            transition: all 0.3s;
          }
        }
        .buttonDisebleFalse{      
          background: #1212128a;       
        }
      
        .error{
          padding-top: 15px;
          font-weight: 500;
          font-size: 13px;
          line-height: 18px;
          letter-spacing: 0.06em;
          color: red;
        }
     
        .responseError{
          background-color: #e91e6244;
        }
        .emailInputContener{
          display: flex;  
          .emailLoader{
            padding-top: 15px;
            position: absolute;    
          }
        }
      }
  
      .woman {
        position: absolute;
        top: 35px;
        left: -259px;
      }
  
      .man {
        position: absolute;
        bottom: 11px;
        right: -205px;
      }
    }
  }
 
  @media all and (max-width: 960px) {
    .woman,
    .man {
      display: none;
    }
  }
  
  @media all and (max-width: 790px) {
    .mainSpecialOfferBlock{
      margin-top: 48px;
    }
  }
  
  @media all and (max-width: 580px) {
    .mainSpecialOfferBlock {
      .smallBlockWrapper {
        .smallBlock{
          padding: 24px;
        }
      }
    }
  }
  
  @media all and (max-width: 390px) {
    .mainSpecialOfferBlock {
      .smallBlockWrapper{
        .smallBlock {
          .subtitle {
            font-size: 20px;
            line-height: 26px;
          }
  
          .input {
            min-width: 240px;
          }
  
          .button {
            max-width: 240px;
            display: flex;
            justify-content: center;
          }
        }
      }
    }
  }
  