.product{
    margin-top: 96px;
    .productContener{
        display: flex;
        justify-content: space-between;
    }

    .productTipe{
        font-weight: 600;
        font-size: 22px;
        line-height: 25px;
        letter-spacing: 0.06em;
        text-transform: uppercase;
    }

    .productMenu{
        display: flex;
        align-items: center;
        column-gap: 32px;
        font-size: 12px;
        line-height: 13px;
        padding-right: 32px;
        letter-spacing: 0.06em;
        color: #707070;
        .productMenuItem{
          cursor: pointer;
            &:hover {
                font-weight: 500;
                color: #121212;
                transition: all 0.3s;
              }           
        }
        .ChekItem{
          text-decoration: underline;
          font-weight: 500;
          color: #121212;
        }
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
        gap: 30px;
        margin: 48px 0;
       
      
      }
      .productButton {
        width: 100%;
        padding: 16px 0;
        border: 2px solid #f8f8f8;
        background: #f8f8f8;
        font-weight: 500;
        font-size: 13px;
        line-height: 15px;
        letter-spacing: 0.06em;
        color: #404040;
        cursor: pointer;
    
        &:hover {
          background: #E6E6E6;
          color:#121212;
          transition: all 0.3s;
        }
      }
}


@media all and (max-width: 1190px) {
  .cardsItem {
    .cards-item-a {
      .cardsItemImg {
        width: 100%;
      }
    }
  }
}


@media all and (max-width: 910px) {
    .product {
      margin-top: 48px;
  
      .productContener {
        flex-direction: column;
        row-gap: 16px;
  
        .productMenu {
          flex-direction: column;
          row-gap: 16px;
        }
      }
    }
  }

  @media all and (max-width: 610px) {
    .product{
      display: flex;
      flex-direction: column;
      margin-left: 15%;
      margin-right: 15%;
      .cardsItem {
        width: 100%;
       }
    }
  }

  @media all and (max-width: 410px) {
    .product{  
      margin-left: 5%;
      margin-right: 5%;    
    }
  }