 .cards {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  flex-flow: column wrap;
   gap: 30px;
   margin: 48px 0;
 }

 .productButton {
   width: 100%;
   padding: 16px 0;
   border: 2px solid #f8f8f8;
   background: #f8f8f8;
   font-weight: 500;
   font-size: 13px;
   line-height: 15px;
   letter-spacing: 0.06em;
   color: #404040;
   cursor: pointer;

   &:hover {
     background: #E6E6E6;
     color: #121212;
     transition: all 0.3s;
   }
 }

