.contenerForm{
    padding: 5px;
}
// .responseOK,
// .responseError {
//   margin-left: 15px;
//   color: #ffffff;
// }
.inputOKFuter{
    color: #ffffff;
}
.inputOKMain{
    color: #000000;
}
.error{
    color: #fa0808;
}