.contenerForm{
    padding: 5px;
}
// .responseOK,
// .responseError {
//   margin-left: 15px;
//   color: #ffffff;
// }
.inputOKFuter{
    color: #ffffff;
}
.inputOKMain{
    color: #000000;
}
.error{
    color: #fa0808;
}
.footerEmailcontenerForm{
  width: 100%;
display: flex;
justify-content: center;
    .footerInput {
      width: 50%;
         margin-right: 10px;
       }
}
