.shopingContener {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    width: 380px;
    height: 100%;
    background-color: #ffffff;
    z-index: 100;
    overflow: auto;
    opacity: 1;
    transform: translateX(100%);
    transition: all 1s;

    .shopingHeader,
    .shopingMainm,
    .shopingFooter {
        padding-left: 5%;
        padding-right: 5%;
        display: flex;
    }

    .shopingHeader {
        background-color: #121212;

        justify-content: space-between;
        align-items: flex-end;
        color: aliceblue;
        padding: 13px 24px;

        .shopingTitle {
            color: #fff;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 700;
            letter-spacing: 1.2px;
        }

        .close {
            padding-top: 3%;
            height: 100%;
            cursor: pointer;
        }
    }


.makingPurchase{
  
  .shopingNav {
    color: #121212;
    padding: 24px;
    span {
      font-size: 15px;
      font-weight: 400;
    }
    span:after {
      content: '/';
      margin: 0 10px;
    }
    span:last-child::after {
      content: '';
    }

    .ItemInCart{
      font-weight:bold
    }
    .ItemInCartNoChek{
        opacity: 0.4;
    }
  }
}

 




    .shopingFooter {
        flex-direction: column;
        flex: 0 0 auto;
        row-gap: 20px;

        padding-bottom: 10%;

        .shopingPrice {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
            .title {
                font-size: 14px;
                font-weight: 400;
            }

            .prise {
                font-size: 16px;
                font-weight: 600;
            }
        }

        .btnShoping,.btnShopingBack.btnShopingHidden {
            display: inline-block;
            width: 100%;
            height: 64px;
            background-color: #121212;
            color: #ffffff;
            text-align: center;
            font-size: 16px;
            text-transform: uppercase;
            cursor: pointer;
            transition: 0.2s linear;

            &:hover {
                background-color: #e5e5e5;
                color: #121212;
            }

            &:active {
                background-color: #9c9c9c;
                color: #ffffff;
            }
           
        }
        .btnShopingViseble{
            visibility: hidden;
        }

        .btnShoping:last-child {
            background-color: #f8f8f8;
            color: #121212;

            &:hover {
                background-color: #e5e5e5;
                color: #121212;
            }
        }
    }
}




.shopingContener.active {
    transition: 0.7s linear;
    transform: translateX(0%);
}

body.lock{
    overflow:hidden;
  }



.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #12121248;
    z-index: 40;
}

@media all and (max-width:628px) {
    .shopingContener {
        width: 500px;
        max-width: 100%;
    }
}