.mainBlog{
    margin-top: 96px;
    .blogHeader{
        display: flex;
        justify-content: space-between;

        .title {
            font-weight: 600;
            font-size: 22px;
            line-height: 25px;
            letter-spacing: 0.06em;
          }
      
          .link {
            font-weight: 500;
            font-size: 12px;
            line-height: 13px;
            text-decoration: none;
            color: #707070;
      
            &:hover {
              color: #c5bdbd;          
            }
        }
    }
    .blogContener{
      margin-top: 48px;
      display: flex;
      justify-content: space-between;
    
  
      .blogItem{
      &:hover{
        transform: scale(1.1);
      }
      position: relative;
      .blogContenerText{
        background-color: #c5bdbd;
      
        max-width: 302px;
        padding: 24px 16px 28px;
        background: #ffffff;
        position: absolute;
        left: 6.86%;
        right: 6.86%;
        top: 79.33%;
        bottom: -15.2%;

        .blogTitle {
          font-weight: 600;
          font-size: 14px;
          line-height: 22px;
          letter-spacing: 0.06em;
        }
    
        .blogText {
          font-size: 14px;
          line-height: 22px;
          color: #707070;
          margin-top: 12px;
        }
      }
      .blogItemImg{
          width: 100%;
        }
      }
    }
}

.blogItem:nth-child(2) {
  margin-left: 30px;
  margin-right: 30px;
}

@media all and (max-width:950px) {
 
  .blogContener{   
    flex-direction: column; 
    .blogItem{
        width: 100%; 
        height: 233px; 
        margin: 0; 
        overflow: hidden; 
        min-width: 300px;
      .blogItemImg{
        width: 100%;     
      }
     .blogContenerText{
       height: auto;
      margin-left: auto;
      margin-right: auto;
      
      height: max-content; 
      margin-top: -17%;
     }
    
    }
  }

  .blogItem:nth-child(2){
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

} 


  @media all and (max-width: 650px) {
    .mainBlog {
      .blogContener {
        gap: 0;
      }
    }
  }
  
  @media all and (max-width: 450px) {
    .mainBlog {
      .blogHeader {
        .title {
          font-size: 16px;
          line-height: 18px;
        }
      }
    }
  }


  

  