*,
*:before,
*:after {
  box-sizing: border-box;
}
body{
    margin: 0;
    min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizespeed;
  font-family: 'Spartan', sans-serif;
  font-size: 12px;
  line-height: 22px;
  font-weight: 400;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}



input,
button,
textarea,
select {
  font: inherit;
}
